/**
 * @author tknight-dev
 */

$dirt-engine-color-blue: rgb(42, 67, 176);
$dirt-engine-color-green: rgb(67, 176, 42);
$dirt-engine-color-red: rgb(176, 42, 67);
$dirt-engine-color-yellow: rgb(176, 176, 42);
$dirt-engine-controls-height: 50px;
$dirt-engine-ui-edit-button-height: 40px;
$dirt-engine-ui-edit-button-width: 40px;

.dirt-engine-ui-edit {
	align-items: center;
	box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: columns;
	justify-content: center;
	position: absolute;
	z-index: 1;

	.button {
		height: $dirt-engine-ui-edit-button-height;
		padding-left: 0;
		padding-top: 0;
		position: relative;
		transition:
			background-color 0.125s linear,
			box-shadow 0.125s linear,
			padding-left 0.125s linear,
			padding-top 0.125s linear;
		width: $dirt-engine-ui-edit-button-width;
	}

	input {
		height: 40px;
	}

	input[type='checkbox'],
	input[type='radio'] {
		height: 30px;
		width: 30px;
	}

	&.modal {
		background-color: rgba(0, 0, 0, 0.75);
		bottom: 0;
		cursor: default;
		left: 0;
		right: 0;
		top: 0;

		.content {
			border: 1px solid rgba(255, 255, 255, 0.25);
			border-radius: 5px;
			box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.25);
			height: 70%;
			overflow: hidden;
			width: 70%;

			.body {
				background-color: rgba(0, 0, 0, 0.5);
				height: calc(100% - 60px);
				overflow-x: hidden;
				overflow-y: auto;
				padding: 20px;

				&.buttoned {
					height: calc(100% - 100px);
				}

				table {
					width: 100%;

					tr {
						height: 40px;

						td {
							&:first-child {
								text-align: right;
								width: 33%;
							}

							&:not(:first-child) {
								padding-left: 10px;
								text-align: left;
								width: 66%;
							}
						}
					}
				}
			}

			.body,
			.buttons,
			.header {
				width: 100%;
			}

			.buttons {
				align-items: center;
				display: flex;
				height: 40px;
				justify-content: center;

				.button {
					width: 50%;
				}
			}

			.header {
				align-items: center;
				background-color: rgba(128, 128, 128, 0.75);
				border-bottom: 1px solid rgba(255, 255, 255, 0.25);
				display: flex;
				height: 60px;
				justify-content: center;
			}
		}
	}

	.button,
	.button-style,
	&.application,
	&.copy,
	&.grid,
	&.fps,
	&.inspect,
	&.map,
	&.palette,
	&.pixelSize,
	&.redo,
	&.save,
	&.settings,
	&.time,
	&.undo,
	&.view {
		align-items: center;
		background-color: rgba(128, 128, 128, 0.5);
		border: 1px solid rgba(255, 255, 255, 0.25);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
		cursor: pointer;
		display: flex;
		justify-content: center;
		z-index: 1;

		&.active {
			background-color: rgba($dirt-engine-color-green, 0.4);
			box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.25);
			cursor: default;
			padding-left: 2px;
			padding-top: 2px;

			&::after {
				color: rgba(255, 255, 255, 0.5);
				pointer-events: none;
				position: absolute;
			}

			.dirt-engine-icon {
				background-color: white;
				cursor: default;
			}
		}

		&.disabled {
			background-color: rgba(80, 80, 80, 0.4);
			border: 1px solid rgba(0, 0, 0, 0.25);
			box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.25);
			cursor: inherit;

			.dirt-engine-icon {
				background-color: #666666;

				&:hover {
					background-color: #666666;
					cursor: inherit;
				}
			}
		}

		&.green {
			background-color: rgba($dirt-engine-color-green, 0.4);
		}

		&.red {
			background-color: rgba($dirt-engine-color-red, 0.4);
		}

		&.yellow {
			background-color: rgba($dirt-engine-color-yellow, 0.4);
		}

		&.right-arrow {
			justify-content: left;

			&::after {
				content: '>';
				position: absolute;
				right: 5px;
			}
		}

		&.overlay-text {
			&::after {
				color: rgba(255, 255, 255, 0.5);
				pointer-events: none;
				position: absolute;
			}
		}
	}

	.menu {
		bottom: 40px;
		box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.25);
		display: none;
		left: 0;
		position: absolute;
		transition: opacity 0.125s linear;

		.button-style {
			height: 40px;
			padding-left: 20px;
			pointer-events: all;
			justify-content: left;
			width: 100px;

			&:first-child {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			&:not(:first-child) {
				border-top: none;
			}

			&:last-child {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}

			&:not(:first-child) {
				border-top: none;
			}
		}
	}

	&.application {
		background-color: transparent;
		border: none;
		bottom: $dirt-engine-controls-height + 20px;
		box-shadow: none;
		height: 40px;
		right: 200px;

		.button {
			border-radius: 5px;
		}

		.menu {
			left: auto;
			right: 0;
		}
	}

	&.application-cursor {
		box-shadow: none;
		display: block !important;
		pointer-events: none;
		z-index: 2 !important;

		.group {
			display: block;
			display: flex;
			justify-content: center;

			.node {
				background-color: rgba(255, 255, 255, 0.25);

				&.all {
					border: 1px dotted white;
				}

				&.bottom {
					border-bottom: 1px dotted white;
				}

				&.left {
					border-left: 1px dotted white;
				}

				&.right {
					border-right: 1px dotted white;
				}

				&.top {
					border-top: 1px dotted white;
				}
			}
		}
	}

	&.copy {
		border-radius: 5px;
		bottom: $dirt-engine-controls-height + 20px;
		height: 40px;
		right: 80px;
		width: 40px;

		.dirt-engine-icon {
			min-height: 30px;
			height: 30px;
			min-width: 30px;
			width: 30px;
		}
	}

	&.grid {
		border-radius: 5px;
		bottom: $dirt-engine-controls-height + 20px;
		height: 40px;
		left: 200px;
		width: 40px;

		.dirt-engine-icon {
			min-height: 30px;
			height: 30px;
			min-width: 30px;
			width: 30px;
		}
	}

	&.grid-modal {
		.content {
			.body {
			}
			.header {
			}
		}
	}

	&.fps {
		background-color: transparent;
		border: none;
		box-shadow: none;
		color: $dirt-engine-color-green;
		font-weight: bold;
		font-size: 28px;
		left: 10px;
		pointer-events: none;
		top: 10px;

		&.bad {
			color: $dirt-engine-color-red;
		}

		&.warn {
			color: $dirt-engine-color-yellow;
		}
	}

	&.inspect {
		border-radius: 5px;
		bottom: $dirt-engine-controls-height + 20px;
		height: 40px;
		right: 20px;
		width: 40px;

		.dirt-engine-icon {
			min-height: 30px;
			height: 30px;
			min-width: 30px;
			width: 30px;
		}
	}

	&.map {
		border-radius: 5px;
		bottom: $dirt-engine-controls-height + 20px;
		height: 40px;
		left: 20px;
		width: 40px;

		.dirt-engine-icon {
			min-height: 30px;
			height: 30px;
			min-width: 30px;
			width: 30px;
		}
	}

	&.map-modal {
		.content {
			.body {
				overflow-y: auto;

				.button {
					height: 40px;
					width: 100% !important;

					&:not(:first-child) {
						margin-top: 20px;
					}
				}
			}
			.header {
			}
		}
	}

	&.mouse-down-select-modal {
		.content {
			.body {
				overflow-y: auto;

				table {
					tr {
						td {
							background-color: rgba(128, 128, 128, 0.25);
							text-align: left !important;

							&.clickable {
								cursor: pointer;
							}
						}

						&:nth-child(odd) {
							td {
								background-color: rgba(64, 64, 64, 0.25);
							}
						}
					}
				}
			}
			.buttons {
				.button {
					height: 40px;
					width: 100% !important;
				}
			}
			.header {
			}
		}
	}

	&.palette {
		border-radius: 5px;
		bottom: $dirt-engine-controls-height + 20px;
		height: 40px;
		right: 140px;
		width: 40px;

		.dirt-engine-icon {
			min-height: 30px;
			height: 30px;
			min-width: 30px;
			width: 30px;
		}
	}

	&.palette-modal {
		.content {
			.body {
				overflow-y: auto;

				.button {
					height: 40px;
					width: 100% !important;
				}
			}
			.buttons {
				.button {
				}
			}
			.header {
			}
		}
	}

	&.pixelSize {
		border-radius: 5px;
		bottom: $dirt-engine-controls-height + 80px;
		height: 40px;
		right: 20px;
		padding-left: 5px;
		z-index: 1 !important;

		input {
			cursor: pointer;

			&.range {
				width: 144px; // +4 to offset borders
			}

			&.text {
				border-bottom-right-radius: 5px;
				border-top-right-radius: 5px;
				margin-left: 5px;
				text-align: center;
				width: 60px;
			}
		}
	}

	&.redo {
		border-radius: 5px;
		height: 40px;
		right: calc(50% - 160px);
		top: 20px;
		width: 40px;

		.dirt-engine-icon {
			min-height: 30px;
			height: 30px;
			min-width: 30px;
			width: 30px;
		}
	}

	&.save {
		border-radius: 5px;
		bottom: $dirt-engine-controls-height + 20px;
		height: 40px;
		left: 80px;
		width: 40px;

		.dirt-engine-icon {
			min-height: 30px;
			height: 30px;
			min-width: 30px;
			width: 30px;
		}
	}

	&.settings {
		border-radius: 5px;
		bottom: $dirt-engine-controls-height + 20px;
		height: 40px;
		left: 140px;
		width: 40px;

		.dirt-engine-icon {
			min-height: 30px;
			height: 30px;
			min-width: 30px;
			width: 30px;
		}
	}

	&.select-modal {
		.content {
			height: auto;
			max-height: 90%;
			overflow-y: auto;
			width: 50%;
			min-width: 290px;

			.button {
				overflow: hidden;
				position: relative;
				width: auto;

				.after-image {
					height: 100%;
					pointer-events: none;
					position: absolute;
					right: 0;

					img {
						object-fit: contain;
					}
				}
			}
		}
	}

	&.settings-modal {
		.content {
			.body {
				.button {
					width: 100px;
				}
			}
			.buttons {
			}
			.header {
			}
		}
	}

	&.spinner-modal {
		opacity: 0;

		.content {
			animation: spin 1s linear infinite;
			border: 8px solid #ffffff;
			border-top: 8px solid $dirt-engine-color-blue;
			border-radius: 50%;
			height: 60px;
			width: 60px;
		}

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}

	&.time {
		background-color: rgba(0, 0, 0, 0.25);
		border: none;
		border-radius: 5px;
		height: 40px;
		left: calc(50% - 240px);
		pointer-events: none;
		top: 20px;
		width: 60px;
	}

	&.undo {
		border-radius: 5px;
		height: 40px;
		right: calc(50% + 120px);
		top: 20px;
		width: 40px;

		.dirt-engine-icon {
			min-height: 30px;
			height: 30px;
			min-width: 30px;
			width: 30px;
		}
	}

	&.view {
		border-radius: 5px;
		bottom: $dirt-engine-controls-height + 20px;
		height: 40px;
		left: 260px;
		width: 40px;

		.dirt-engine-icon {
			min-height: 30px;
			height: 30px;
			min-width: 30px;
			width: 30px;
		}

		.menu {
			.button-style {
			}
		}

		&.overlay-text {
			&.audio {
				&::after {
					content: 'Audio';
					left: 50px;
				}
			}
			&.image {
				&::after {
					content: 'Image';
					left: 50px;
				}
			}
			&.light {
				&::after {
					content: 'Light';
					left: 50px;
				}
			}
		}
	}

	&.z {
		background-color: transparent;
		box-shadow: none;
		left: 0;
		pointer-events: none;
		right: 0;
		top: 20px;

		.button {
			pointer-events: all;

			&.background {
				&.active {
					&::after {
						content: 'Background';
						top: $dirt-engine-ui-edit-button-height + 5px;
					}
				}
			}

			&.global {
				&.active {
					&::after {
						content: 'Global';
						top: $dirt-engine-ui-edit-button-height + 5px;
					}
				}
			}

			&.foreground {
				&.active {
					&::after {
						content: 'Foreground';
						top: $dirt-engine-ui-edit-button-height + 5px;
					}
				}
			}

			&.primary {
				&.active {
					&::after {
						content: 'Primary';
						top: $dirt-engine-ui-edit-button-height + 5px;
					}
				}
			}

			&.vanishing {
				&.active {
					&::after {
						content: 'Vanishing';
						top: $dirt-engine-ui-edit-button-height + 5px;
					}
				}
			}
		}
	}
}
