/**
 * @author tknight-dev
 */

/*
 * Global Imports
 */
@import 'styles/cursors.scss';
@import 'styles/icons.scss';
@import 'styles/ui-edit.scss';

$dirt-engine-feed-load: 0.5s;
$dirt-engine-feed-overflow-p: 20px; // Sync with "UtilEngine > renderOverflowP"
$dirt-engine-map-offset: 20px; // Sync with "MapDrawEngine > backgroundOffset"
$dirt-engine-map-width: 17.5%; // Sync with "MapDrawEngine > backgroundRatio"

.dirt-engine {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
	min-width: 290px;

	&.fullscreen {
		background-color: #0a0a0a;
	}

	* {
		box-sizing: border-box;
	}

	.download {
		display: none;
	}

	.viewer-a {
		align-items: center;
		aspect-ratio: 16 / 9;
		display: flex;
		height: 100%;
		justify-content: center;
		position: relative;
		width: auto;
		max-width: 100%;

		.viewer-b {
			aspect-ratio: 16/9;
			background-color: #162fd8;
			max-height: 100%;
			position: relative;
			width: 100%;

			.channel {
				font-family: 'Garamond';
				font-size: 36px;
				font-weight: bold;
				left: 10vh;
				text-shadow: 0 0 3px #ffffff;
				top: 7vh;
				z-index: 1;
			}

			.channel,
			.controls,
			.feed,
			.file,
			.map-interaction,
			.status {
				position: absolute;
			}

			.controls {
				align-items: center;
				background-color: rgba(0, 0, 0, 0.25);
				border-top: 1px solid #ffffff;
				bottom: 0;
				display: flex;
				flex-direction: columns;
				height: $dirt-engine-controls-height;
				justify-content: center;
				left: 0;
				opacity: 0.5;
				right: 0;
				transition: opacity 0.125s linear;
				z-index: 3;

				&:hover {
					opacity: 0.75;
				}

				.left {
					justify-content: left;
					padding-left: 5px;

					*:not(:first-child) {
						margin-left: 20px;
					}
				}

				.left,
				.right {
					align-items: center;
					display: flex;
					height: 40px;
					width: 50%;

					input:not(:disabled) {
						cursor: pointer;
					}
				}

				.right {
					justify-content: right;
					padding-right: 5px;

					*:not(:first-child) {
						margin-right: 20px;
					}
				}
			}

			.feed {
				background-color: black;
				border-radius: 200%;
				bottom: 50%;
				left: 50%;
				opacity: 0;
				//overflow: hidden;
				right: 50%;
				top: 50%;
				transition:
					border-radius $dirt-engine-feed-load linear,
					bottom $dirt-engine-feed-load linear,
					left $dirt-engine-feed-load linear,
					opacity $dirt-engine-feed-load linear,
					right $dirt-engine-feed-load linear,
					top $dirt-engine-feed-load linear;
				z-index: 2;

				.fitted {
					height: 100%;
					position: relative;
					width: 100%;
					z-index: 2;

					.outline {
						border: 1px solid red;
						pointer-events: none;
						z-index: 9999;
					}

					.outline,
					.title,
					.title {
						bottom: 0;
						left: 0;
						position: absolute;
						right: 0;
						top: 0;
					}

					.title {
						background-color: black;
						opacity: 1;
						transform: scale(0);
						transition: opacity 0.5s linear;
						z-index: 1;

						.content {
							align-items: center;
							display: flex;
							flex-direction: column;
							height: 100%;
							justify-content: center;
							position: relative;
							width: 100%;

							.logo {
								background-position: center !important;
								background-repeat: no-repeat !important;
								background-size: contain !important;
								height: auto;

								&.company {
									aspect-ratio: 150/36;
									bottom: 50px;
									position: absolute;
									right: 0;
									width: 100px;
								}

								&.engine {
									aspect-ratio: 512/206;
									width: 50%;
								}
							}

							.text {
								text-align: center;
								width: 50%;
							}
						}
					}

					.dirt-engine-ui-edit {
						display: none;
						transition: opacity 0.125s linear;
						z-index: 2;
					}
				}

				.overflow {
					bottom: -$dirt-engine-feed-overflow-p;
					left: -$dirt-engine-feed-overflow-p;
					right: -$dirt-engine-feed-overflow-p;
					position: absolute;
					top: -$dirt-engine-feed-overflow-p;
					z-index: 1;

					.streams {
						height: 100%;
						position: relative;
						width: 100%;

						.stream {
							bottom: 0;
							left: 0;
							position: absolute;
							right: 0;
							top: 0;

							&.canvas {
								z-index: 1;
							}

							&.background {
								z-index: 2;
							}

							&.foreground {
								z-index: 3;
							}

							&.overlay {
								z-index: 4;
							}

							.data {
								position: relative;
							}
						}
					}
				}

				&.start {
					border-radius: 0;
					bottom: 0;
					left: 0;
					opacity: 1;
					right: 0;
					top: 0;

					.fitted {
						.title {
							animation: scaler $dirt-engine-feed-load linear;
							transform: scale(1);
						}
					}
				}

				@keyframes scaler {
					0% {
						transform: scale(0);
					}
					100% {
						transform: scale(1);
					}
				}
			}

			.file {
				align-items: center;
				background-color: rgba(0, 0, 0, 0.75);
				bottom: 0;
				display: none;
				justify-content: center;
				left: 0;
				right: 0;
				top: 0;
				z-index: 5;

				.collector {
					align-items: center;
					background-color: rgba(255, 255, 255, 0.1);
					border: 2px dashed white;
					border-radius: 5px;
					display: flex;
					height: 30%;
					justify-content: center;
					pointer-events: none;
					width: 60%;
				}
			}

			.map-interaction {
				cursor: pointer;
				height: $dirt-engine-map-width;
				right: $dirt-engine-map-offset;
				top: $dirt-engine-map-offset;
				width: $dirt-engine-map-width;
				z-index: 4;
			}

			.status {
				align-items: center;
				border-radius: 5px;
				display: none;
				font-weight: bold;
				height: 50px;
				justify-content: center;
				left: calc(50% - 50px);
				transition: opacity 1s linear;
				top: calc(50% - 25px);
				width: 100px;
				z-index: 9999;

				&.bad {
					background-color: rgba($dirt-engine-color-red, 0.5);
					border: 2px solid $dirt-engine-color-red;
					color: $dirt-engine-color-red;
				}

				&.good {
					background-color: rgba($dirt-engine-color-green, 0.5);
					border: 2px solid $dirt-engine-color-green;
					color: $dirt-engine-color-green;
				}
			}
		}
	}
}
